<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/assets/css/chpwd.css">
    <title>change password</title>
</head>

    <body id="particles-js"></body>
<div class="animated bounceInDown">
  <div class="container">
    <span class="error animated tada" id="msg"></span>
    <form name="form1" class="box" method="post" onsubmit="required()">

        <input type="password" name="current" placeholder="Current Passsword" autocomplete="off" name="pwd">
        <input type="password" name="pwd" id="pwd" placeholder="New Password" autocomplete="off">
        <i class="typcn typcn-eye" id="eye"></i>
        <input type="password" name="cpwd" placeholder="Confirm Passsword" id="cpwd" autocomplete="off">
   
        <input type="submit" value="Save" class="btn1">
      </form>
      
  </div> 

</div>

  <script>
  var password = document.getElementById("pwd");
  var confirm_password = document.getElementById("cpwd");

	function validatePassword(){
	  if(password.value != confirm_password.value) {
		confirm_password.setCustomValidity("Passwords Don't Match");
	  } else {
		confirm_password.setCustomValidity('');
	  }
	}

	password.onchange = validatePassword;
	confirm_password.onkeyup = validatePassword;


function required(){
var empt = document.forms["form1"]["current"].value;
if (empt == "")
{
alert("Please enter current password");
return false;
}

}
  </script>

</html>