<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/index-main.css">
    <script type="text/javascript" src="/assets/qr/qrcode.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/header.css">

    
    <title>OTP SERVER</title>
</head>
<body>
<script id="add_navbar" src="/assets/js/header.js"></script>


<form method="POST" id="usersform">
    <div class="form__group field">
        <input type="input" class="form__field" id="username" placeholder="UserName" name="username" required />
         <label for="username" class="form__label">Username</label> 
    </div>


      <section>
        <label><input type="radio" name="tasks" value="createuser">Enable OTP </label>
        <label><input type="radio" name="tasks"  value="updateuser" >Force Regenerate </label>
        <label><input type="radio" name="tasks" value="searchuser" >Search</label>
        <label><input type="radio" name="tasks" value="deleteuser">Disable OTP</label>
      </section>




</form>

      <div class="container">
        <button id="btn">
            <p id="btnText">Submit</p>
            <div class="check-box">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path fill="transparent" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                </svg>
            </div>
        </button>
    </div>

</br>
   


{{if and (.Code) (not .Err)}}

<!-- qr code -->

<div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>

<script type="text/javascript">
var qrcode = new QRCode(document.getElementById("qrcode"), {
	width : 100,
	height : 100
});


	qrcode.makeCode({{.Qr}});

</script>


</br>
<div class="container">
<p style="font-size:20px">
Username: {{.UserName}}</br>
OTP secret seed: {{.Code}}
</p>

{{end}}
<!-- qr code -->



{{if .Err}}
<div class="container">
<p style="font-size:20px">
Username {{ .UserName}} {{.Err}} 
</p>
{{end}}



{{if .Result}}
<div class="container">
<p style="font-size:20px">
{{.Result}} Username: {{ .UserName}} 
</p>
{{end}}




</div>

<br>
<script src="/assets/js/index-script.js"></script>  
    
</body>
</html>