<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/modern_login.css"><link href="/assets/css/Montserrat-400-700-800-swap.css" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <div class="container a-container" id="a-container">

      </div>
      <div class="container b-container" id="b-container">
        <form class="form" id="b-form" method="post" >
          <h2 class="form_title title">Sign in to RadOTP</h2>
          <input class="form__input" type="text" placeholder="username" name=user>
          <input class="form__input" type="password" placeholder="Password" name=pass>
          
          <input type="submit"  value="SIGN IN" class="form__button button" />
        </form>
      </div>
      <div class="switch" id="switch-cnt">
        <div class="switch__circle"></div>
        <div class="switch__circle switch__circle--t"></div>
        <div class="switch__container" id="switch-c1">
          
          <h2 class="switch__title title">    RadOTP    </h2>

          <p class="switch__description description">please login with your credentials</p>
          <button class="switch__button button switch-btn">SIGN IN</button>
        </div>
        <div class="switch__container is-hidden" id="switch-c2">
          <!-- <h2 class="switch__title title">Hello Friend !</h2> -->
          <h2 class="switch__title title">    RadOTP    </h2>

          <p class="switch__description description">"SSL VPN" authentication with two-factor authentication mechanisms.</p>
          <button class="switch__button button switch-btn">Ok</button>
        </div>
      </div>
    </div>
    <script src="/assets/js/modern_login.js"></script>
  </body>
</html>