<!doctype html>
<html lang="en">
  <head>


<script src="/assets/js/jquery-3.2.1.slim.min.js"  crossorigin="anonymous"></script>
<script src="/assets/js/popper.min.js"  crossorigin="anonymous"></script>
<script src="/assets/js/bootstrap.min.js"  crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/qr/qrcode.js"></script>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>OTP SERVER</title>
<link rel="stylesheet" type="text/css" href="/assets/css/header.css">

  </head>

  <body>

<script id="add_navbar" src="/assets/js/header.js"></script>

<div class="container" >
<form method="post">
  <div class="row">

    <div class="col">
    Time Range
    <input type="text" class="form-control" placeholder="1h" name="timerange">
    </div>

    <div class="col">
    User Name
    <input type="text" class="form-control" placeholder=".*" name="user">
    </div>

    <div class="col">
    Stage
    <select class="form-control" name="stage">
      <option>.*</option>
      <option>otp</option>
      <option>active-directory</option>

    </select>

  </div>


    <div class="col">
    State
    <select class="form-control" name="state">
      <option>.*</option>
      <option>Accepted</option>
      <option>Chalenge</option>
      <option>Rejected</option>
    </select>

    </div>



    <div class="col">
    </br>
    <button type="submit" class="btn btn-primary" name="submit">search</button>

    </div>



  </div>
</form>

<div class="container">

  <br></br>


<div style="white-space: pre">

{{.}}
</div>


</div>

</div>


</body>
</html>
